{% load  static%}
<!DOCTYPE HTML>
<html>

<head>
<title>Voidmain</title>
<link rel="stylesheet" type="text/css" href="{% static 'style/style.css'%}" title="style" />
</head>

<body>
	<div id="main">
		<div id="header">
			<div id="logo">
				<div id="logo_text">
					<!-- class="logo_colour", allows you to change the colour of the text -->
					<h3>
						<a href="#"><font color="white">Optimal road trip planning</font></a>
					</h3>
					<br/><br/>
				</div>
			</div>
			<div id="menubar">
				<ul id="menu">

					{% if request.session.username in "admin" %}
                        <li><a href="/addtour">Add Tour</a>
                        <li><a href="/addplace">Add Place</a></li>
                    {% endif %}
                    <li><a href="/viewtours">View Tours</a></li>
                    <li><a href="/viewplaces">View Place</a></li>
                    {% if request.session.username not in "admin" %}
                        <li><a href="/sendmessage">Send Message</a>
                    {% endif %}
                    <li><a href="/viewmessages">View Message</a></li>
                    <li><a href="/logout">Logout</a></li>

				</ul>
			</div>
		</div>
		<div id="content_header"></div>
		<div id="site_content">
			<div id="content">

				<form name="form" action="/registertour/">
					{% csrf_token %}
					<div class="form_settings">
                        <input type="hidden" value="{{tour}}" name="tour">
						<p>
							<span>Description:</span><textarea class="contact" name="description"> </textarea>
						</p>
						<p style="padding-top: 15px">
							<span>&nbsp;</span><input class="submit" type="submit"
								name="contact_submitted" value="send" />
						</p>

					</div>
				</form>

			</div>
		</div>
	</div>
</body>
</html>